
body{
	margin: 0 auto;
	font-family: Arial,"MicroSoft YaHei";
	font-size: 16px;
	/*width: 90%;*/
	background-color:#F3F3f0;
}
header{
	height: 685px;
	background: url("../images/sunset-resized.jpg") center top no-repeat;
	background-size: 138% 169%;
	color: white;
}
header nav{
	height: 100px;
	padding: 21px 5.1%;
}
.logo{
	font-size: 2.7em;
	margin-left:9%; 
	color: white;
}
.logo:hover{
	color: #000000;
}

header nav ul{
	float: right;
	margin: 10px 8.2% 0 0;
	width: 23%;
}
header nav ul li a{
	display: inline;
	padding: 0 4%;
	font-size:0.9em;
	color: white;
}
nav ul li a:hover{
	background-color:rgb(150,150,150);
	color: white;
}
header nav ul li:nth-child(3) a{
	font-size: 0.9em;
	padding: 7px 8%;
	border: solid white 1px;
	border-radius: 5px;
	margin: 0;
}

.search{
	height: 125px;
	width: 45%;
	margin: 0 auto;
	margin-top: 100px;
}
.search p:nth-child(1){
	font-size: 2.05em;
	font-weight: 500;
	color: #000000;
	text-align: center;
}
.search p:nth-child(2){
	font-size: 0.9em;
	padding: 10px 0;
	text-align: center;
	font-weight: 500;
	color: #929292;
}

form{
	margin-top:10px;
	border-radius: 4px;
	border: solid 1px #c2c8bd;
}
.searchText{
	padding: 16px 4%;
	width: 74.3%;
	/*border-radius: 4px;*/
	border: solid 0.5px #c2c8bd;
	background: rgba(255,255,255,0.6);
}
.searchbtn{
	padding: 16px 4%;
	background-color: #41ebab;
	border: solid 0.5px #41ebab;
	/*border-radius: 4px;*/
	color: white;
	font-weight: 400;
}

.numShow{
	margin: -72px auto 0;
	width: 73%;
	height: 120px;
	border: solid 1px #E1E1E1;
	border-radius: 4px;
	background-color:#F3F3f0; 
}
.numShow li{
	display: inline-block;
	width: 24.8%;
	height: 82px;
	padding: 38px 0 0;
	border-left: solid 1px #E1E1E1;
}
.numShow li:first{
	border-left: none;
}

.numShow li p:nth-child(1){
	text-align: center;
	font-weight: bolder;
	font-size: 1.7em;
}
.numShow li p:nth-child(2){
	text-align: center;
	font-size: 0.8em;
	margin: 8px 0;
	color: #999998;
}

#works{
	height: 394px;
	border-bottom: solid 2px #E2E2E2;
}
.title{
	font-weight: bolder;
}
#works .title{
	margin: 62px auto;
	width: 9%;
	font-size: 0.9em;
}
#works ul {
	width: 82%;
	margin: 0 auto;
	padding: 12px 0;
}
#works ul li{
	float: left;
	width: 33%;
	text-align: center;
	border-top: solid 1px #E2E2E2;
	list-style: none;
}
#works img{
	width: 25%;
	/*height: 73px;*/
	margin: 30px 0 -4px;
}
#works .littleTitle{
	padding: 9px 0;
}
#works .content{
	font-size: 0.8em;
	width: 80%;
	margin: 2px 11%;
	height: 45px;
	line-height: 14px;
	color: #999998;
}
#works .num{
	width: 31px;
	margin: -15px 44% 0;
	padding: 8px 0;
	background-color:white;
	border:solid 1px #E2E2E2; 
	border-radius: 19px;
	font-weight: bolder;
}
#choose{
	height:527px; 
	border-bottom: solid 2px #E2E2E2;
}
#choose .title{
	width: 13%;
	margin:79px auto 70px; 
}
#choose ul{
	float: left;
	width: 30%;
	margin-left:12.5%; 
}
#choose ul li{
	padding-bottom: 122px;
}
#choose ul li div{
	float: left;
}
#choose .text{
	width: 80.9%;
	margin-left: 8.3%;
}
#choose ul li img{
	height: 37px;
	margin-top: -5px;
}
#choose .text p:nth-child(1){
	font-weight: bolder;
}
#choose .text p:nth-child(2){
	font-size: 0.8em;
	margin-top: 14px;
	line-height: 15px;
	color: #999998;
}

#feed{
	color: #626279;
	height: 442px;
}

#feed ul{
	height: 46px;
	margin: 65px auto 0;
	width: 26%;
	border:solid 2px #9595A4;
	border-radius: 4px;
}
#feed ul li{
	float: left;
	width: 50%;
	line-height: 46px;
	text-align: center;
	font-weight: bolder;
}
#feed ul li:nth-child(1){
	background-color: #626279;
	color: white;
}

#feed .quota{
	width: 2%;
	margin: 32px auto 0;
}
.quota img{
	height: 16px;
}
#feed p{
	margin:20px auto 0;
	width: 73%;
	font-weight: bolder;
	text-align: center;
	line-height: 19px;
	color: #AAA9AB;
}

#feed .imgSet{
	margin: 101px auto 0;
	width: 33%;
}
#feed .imgSet img{
	width: 20%;
	margin:0 6%;
	border-radius: 48%;
}
#feed .grap
{
	-webkit-filter: grayscale(100%);     
  	-moz-filter: grayscale(100%);    
   	-ms-filter: grayscale(100%);     
  	-o-filter: grayscale(100%);       
    filter: grayscale(100%);          
  	filter: gray;
}

footer{
	height: 49px;
	background:  url("../images/sunset-resized.jpg") -486px -347px no-repeat;
	background-size: 146% 400%;
	padding: 88px 21.2%;
	color: white;
}
footer div{
	width: 56%;
	margin: 0 auto;
}
footer form{
	width: 78.1%;
	float: right;
	margin-top: 0;
}
footer span{
	font-size: 1.4em;
	font-weight: bolder;
	line-height: 43px;
}
footer .searchText{
	background: rgb(255,255,255);
	/*width: 73.2%;*/
}


nav{
	width: 73%;
	height: 18px;
	margin: 21px auto;
	color: #AAA9AB;
}
nav ul:nth-child(1){
	float: left;
}
nav ul:nth-child(1) li{
	padding: 0 5px;
}
nav ul:nth-child(2){
	float: right;
}
nav ul li{
	display: inline;
}
nav ul li img{
	width: 20px;
}